{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="{% static '\css\delete.css' %}">>
</head>
<body>
    <div class="confirmation-box">
        <div class="header">
            <!-- Logo image on the right side -->
            <img src="\static\image\Entrust Logo Plain.jpg" alt="Logo" class="logo">
        </div>
        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete the employe"<b>{{ employ.name }}</b>"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, delete</button>
        </form><br>
        <a href="{% url 'employ_detail' employ.pk %}">Cancel</a>
    </div>
</body>
</html>
