<!-- welcome.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        .employ_list{
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .taxt_list{
            background-color: #dc3545;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

        }
    </style>
</head>
<body>
    <h1>Welcome to our application!</h1>
    <a href="{% url 'task_list' %}"><button class="taxt_list">Show_list</button></a>
    <a href="{% url 'employ_list' %}"><button class="employ_list">employ_list</button></a>\
</body>
</html>
